* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html, body, #hero {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Hero section styles */
#hero {
    background-position: top left, bottom right;
    background-size: 300px, 210px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.96);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    animation: fadeInUp 1s forwards;
}

#hero h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 20px; /* Reduced margin for space between paragraph and buttons */
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: transparent; /* Set the initial color to transparent */
    color: rgba(0, 0, 0, 0.96);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Spacing between the buttons */
    border: 2px solid black; /* Adding a black border around the button */
}

.btn:active { /* This will trigger when the button is clicked */
    background-color: rgba(0, 0, 0, 0.96);
}

.join-btn {
    margin-right: 0; /* Ensures no margin on the right side for the join button */
}

.btn:hover {
    background-color: black; /* This will make the button turn black on hover */
    color: white; /* Changing text color to white for contrast */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    #hero {
        padding: 80px 0;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero p {
        font-size: 16px;
    }
}
